.content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.content__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    padding: 0 0.8rem;
}

.content {
    width: 100%;
    padding: 1rem 1rem;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 30%, rgba(255, 255, 255, 0.2));
    border-radius: 0.6rem;
    transition: 0.6s ease 0s;
    box-shadow: -2px -2px 15px -6px var(--accent-color), 2px 2px 15px -8px #C7B7A3;
    transform: translate(-150%, 0) scale(0);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

._active {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
}

.content__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: GaramT;
}

.content__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.3rem;
    filter: brightness(0.7);
    width: 100%;
}

.content__flex.skills {
    gap: 0.8rem;
}

.content__chunk {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.content__chunk .content__chunk {
    max-width: none;
}

.content__chunk.project__box {
    justify-content: space-between;
}

.content__subtitle1 {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: left;
    font-family: GaramT;
}

.content__subtitle2 {
    font-size: 1.06rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -0.1rem;
    font-family: GaramT;
}

.content__text {
    font-family: GaramT;
    font-size: 1.05rem;
    text-align: justify;
    text-decoration: none;
    color: var(--accent-color);
}

#Skills .content__text {
    text-align: left;
}


.project__img__box {
    border-radius: 5px;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 3px 10px -3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 0.5rem;
}

.project__img__box::after {
    content: 'visit';
    position: absolute;
    z-index: 2;
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
    backdrop-filter: blur(10px);
    border-radius: 0.3rem;
    transition: 0.6s;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 1px var(--accent-color);
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    box-shadow: -2px 2px 11px -8px black, 2px -2px 11px -8px black;
}

.project__img__box::before {
    content: '';
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    backdrop-filter: blur(2px);
    background: rgba(0,0,0, 0.15);
    border-radius: 5px;
    transition: 0.6s ease;
    width: 100%;
    height: 100%;
}

.project__img__box:hover::before {
    transform: translate(-40%, -50%);
    rotate: -25deg;
    transform-origin: left top;
    border-radius: 50%;
    background: rgba(0,0,0, 0.18);
    backdrop-filter: blur(2.5px);
}

.project__img__box:hover::after {
    color: var(--accent-color);
    margin-left: -75%;
    margin-top: -40%;
    box-shadow: -2px 2px 10px -6px black, 2px -2px 10px -6px black;
}

.project__img {
    display: block;
    width: 100%;
    border-radius: 5px;
    /* filter: blur(1px) brightness(1); */
    transition: 0.25s;
}

.project__img__box:hover .project__img {
    filter: blur(0px) brightness(1);
}


/* #contact */

.contacts__wrapper {
    display: grid;
    width: min-content;
    grid-template-columns: 1rem 1fr 1fr;
    gap: 0.6rem 0.4rem;
    align-items: center;
}

.contacts__wrapper .content__text {
    font-size: 1.15rem;
}

.contacts__wrapper .content__text:nth-of-type(odd) {
    letter-spacing: 1px;
}

.contacts__wrapper .content__text:nth-of-type(even) {
    font-style: italic;
    text-align: right;
}

.contact__img {
    width: 1rem;
}







/* @media */

@media screen and (max-width: 849px) {
    .content__wrapper {
        padding-left: 0;
    }
}


@media screen and (min-width: 850px) {
    .content__wrapper {
        padding-left: 350px;
    }

    .content__chunk {
        max-width: none;
    }
}


@media screen and (min-width: 1244px) {
    .content__wrapper {
        padding-left: 30vw;
    }

    .content {
        width: 90%;
    }
}

@media screen and (min-width: 700px) {
    .content__chunk {
        max-width: 47%;
    }

    #Skills .content__chunk:nth-of-type(odd) .content__text,
    #Skills .content__chunk:nth-of-type(odd) .content__subtitle1 {
        text-align: right;
    }

    #Skills .content__text {
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 2000px) {
    .content__wrapper {
        padding-left: 600px;
    }

    .content {
        width: 80%;
    }
}