.content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    padding: 40px 0.8rem;
}

.content {
    width: 100%;
    padding: 1rem 1rem;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 30%, rgba(255, 255, 255, 0.2));
    border-radius: 0.6rem;
    transition: 0.6s ease 0s;
    box-shadow: -2px -2px 15px -6px var(--accent-color), 2px 2px 15px -8px #C7B7A3;
    transform: translate(-150%, 0) scale(0);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

._active {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
}

.content__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: GaramT;
}

.content__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.3rem;
    filter: brightness(0.7);
    width: 100%;
}

.content__flex.skills {
    gap: 0.8rem;
}

.content__chunk {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
    width: 100%;
}

.content__subtitle1 {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: left;
    font-family: GaramT;
}

.content__subtitle2 {
    font-size: 1.06rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -0.3rem;
    margin-top: -0.1rem;
    font-family: GaramT;
}

.content__text {
    font-family: GaramT;
    font-size: 1.05rem;
    text-align: justify;
    text-decoration: none;
    color: var(--accent-color);
}

#Skills .content__text {
    text-align: left;
}


.project__img__box {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.project__img {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 5px;
    filter: blur(1px) brightness(0.8);
    transition: 0.25s;
    box-shadow: -3px 3px 10px -3px rgba(0, 0, 0, 0.3);
}

.project__img::after {
    content: 'Go';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
}

.project__img__box:hover .project__img {
    filter: blur(0px) brightness(1);
    box-shadow: -4px 4px 10px -3px rgba(0, 0, 0, 0.3);
}


/* #contact */

.contacts__wrapper {
    display: grid;
    width: min-content;
    grid-template-columns: 1rem 1fr 1fr;
    gap: 0.6rem 0.4rem;
    align-items: center;
}

.contacts__wrapper .content__text {
    font-size: 1.15rem;
}

.contacts__wrapper .content__text:nth-of-type(odd) {
    letter-spacing: 1px;
}

.contacts__wrapper .content__text:nth-of-type(even) {
    font-style: italic;
    text-align: right;
}

.contact__img {
    width: 1rem; 
}







/* @media */

@media screen and (max-width: 849px) {
    .content__wrapper {
        padding-left: 0;
    }
}


@media screen and (min-width: 850px) {
    .content__wrapper {
        padding-left: 350px;
    }
}


@media screen and (min-width: 1244px) {
    .content__wrapper {
        padding-left: 30vw;
    }
}