.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(10px);
    box-shadow: 4px 0 12px -7px black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 30%, rgba(255, 255, 255, 0.15));

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 30px 40px 30px;
    transition: 0.4s;
    opacity: 1;
}

.sidebar.hidden {
    width: 0%;
    opacity: 0;
}

.sidebar__cross {
    position: fixed;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    filter: brightness(0.6);
    transition: 0.25s;
}

.sidebar__cross:hover {
    transform: scale(1.2);
}

.hiddenB {
    opacity: 0;
    scale: 0;
    pointer-events: none;
}

.sidebar__cross img[alt="close"] {
    width: 50px;
}

.sidebar__cross img[alt="open"] {
    width: 40px;
}

.profile__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__img__box {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2.8rem;
}

.profile__img__abs {
    position: absolute;
    width: 65%;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
    opacity: 0.9;
}

.profile__img {
    width: 65%;
    border-radius: 50%;
    box-shadow: 3px 3px 13px -3px var(--accent-color);
    border: 1.5px solid var(--accent-color);
    opacity: 0.8;
}

.profile__img__button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent-color);
    padding: 10px;
    transition: 0.25s;
    z-index: 4;
    filter: drop-shadow(0 0 0 black);
    filter: drop-shadow(0 0 5px var(--dark2));
}

.profile__img__button img {
    width: 2.2vw;
    filter: brightness(0.4);
    min-width: 26px;
    min-height: 26px;
}

.profile__img__button:nth-child(3) {
    top: -19%;
    left: 33%;
    transform: scale(0.98);
}

.profile__img__button:nth-child(4) {
    top: -10.5%;
    left: 19%;
    transform: scale(1.03);
}

.profile__img__button:nth-child(5) {
    top: 7%;
    left: 9%;
    transform: scale(0.98);
}

.profile__img__button:nth-child(6) {
    top: 27%;
    left: 4%;
    transform: scale(0.95);
}

.profile__img__button:hover {
    transform: scale(1.13);
}

.profile__name {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1vw;
}

.profile__profession {
    font-size: 1.1rem;
    font-family: GaramT;
    letter-spacing: 0.9vw;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.profile__slogan {
    font-size: 1.1rem;
    letter-spacing: 2px;
}


@media screen and (min-width: 450px) and (max-width: 1243px) {
    .sidebar {
        width: 350px;
    }

    .profile__name {
        font-size: 30px;
        letter-spacing: 3.8px;
    }
    
    .profile__profession {
        font-size: 17px;
        letter-spacing: 3.3px;
        margin-bottom: 8px;
    }
    
    .profile__slogan {
        font-size: 18px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 851px) {
    .sidebar__cross {
        opacity: 0;
        scale: 0;
        pointer-events: none;
    }

    .sidebar.hidden {
        width: 350px;
        opacity: 1;
    }
}

@media screen and (min-width: 1244px) {
    .sidebar {
        width: 30vw;
    }

    .sidebar.hidden {
        width: 30vw;
        opacity: 1;
    }

    .profile__name {
        font-size: 2.4vw;
        letter-spacing: 0.5vw;
    }
    
    .profile__profession {
        font-size: 1.2vw;
        letter-spacing: 0.4vw;
        margin-bottom: 8px;
    }
    
    .profile__slogan {
        font-size: 1.3vw;
        letter-spacing: 0.2vw;
    }
}


@media screen and (min-width: 1700px) {
    .profile__img__button img {
        width: 2rem;
    }

    .profile__img__button:nth-child(3) {
        top: -16.5%;
        left: 35%;
        transform: scale(0.98);
    }
    
    .profile__img__button:nth-child(4) {
        top: -8.5%;
        left: 21%;
        transform: scale(1.03);
    }
    
    .profile__img__button:nth-child(5) {
        top: 9%;
        left: 11%;
        transform: scale(0.98);
    }
    
    .profile__img__button:nth-child(6) {
        top: 29%;
        left: 6%;
        transform: scale(0.95);
    }
}


@media screen and (min-width: 2000px) {
    .sidebar {
        width: 600px;
    }

    .profile__name {
        font-size: 43px;
        letter-spacing: 12px;
    }
    
    .profile__profession {
        font-size: 22px;
        letter-spacing: 10px;
    }
    
    .profile__slogan {
        font-size: 22px;
        letter-spacing: 6px;
    }
}
