:root {
    --accent-color: rgb(59, 55, 35);
    /* #3b3723 */
    --dark1: rgba(0, 0, 0, 0.1);
    --dark2: rgba(0, 0, 0, 0.2);
    --dark3: rgba(0, 0, 0, 0.3);
    --white-color: #E8D8C4;
    --light-color: #C7B7A3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    display: flex;
    background-color: rgb(59, 55, 35);
    font-family: GaramB;
    color: rgb(53, 49, 32);
    overflow-x: hidden;
}

body.blocked {
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)),
        url(../assets/images/photos/painting1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.background {
    background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.5)),
    url(../assets/images/photos/painting1.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-size: cover;
}

@media screen and (min-width: 550px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 851px) {
    body.blocked {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 22px;
    }
}